@import "../../index";

.table_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    gap: 30px;
    overflow-x: auto;

    .entries-and-search, .info-and-pagination {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        align-items: center;

        .table-pagination {
            display: flex;
            align-items: center;
            gap: 20px;

            .current-page {
                padding: 2px 6px;
                background-color: $primary-color;
                color: white;
                border-radius: 5px;
            }

            .change-page {
                cursor: pointer;
            }

            .disabled {
                color: grey;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    table {
        display: block;
        max-width: 100%; 
        width: 100%;
        overflow-x: auto;
        border-collapse: collapse;

        th {
            min-width: 98px;
            padding: 10px 0;

            .sort-symbol {
                color: $primary-color;
                cursor: pointer;
            }
        }

        .row {
            height: 35px;
            text-align: start;

            &:nth-child(odd){
                background-color: $tertiary-color;
            }

            &:nth-child(even){
                background-color: white;
            }
            
            td {
                padding: 0 5px;
                height: 50px;
                width: 98px;
            } 
        }
    
        .button-delete {
            align-items: center;
            height: 15px;
            width: 60px;
        }
    }
    
    @media screen and (max-width: 385px) {
        .entries-and-search, .info-and-pagination {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 20px;
        }      
    }    
}