/**** Bases ****/
* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  min-height: 100dvh;
  text-align: center;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2 {
  margin: 0;
}

/***** Variables *****/
/***** Button *****/
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 115px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  color: white;
  background-color: #92AC20;
  cursor: pointer;
}
.button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.4)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
}

/***** Breakpoints for responsive design *****/
.table_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1000px;
  gap: 30px;
  overflow-x: auto;
}
.table_wrapper .entries-and-search, .table_wrapper .info-and-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.table_wrapper .entries-and-search .table-pagination, .table_wrapper .info-and-pagination .table-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.table_wrapper .entries-and-search .table-pagination .current-page, .table_wrapper .info-and-pagination .table-pagination .current-page {
  padding: 2px 6px;
  background-color: #92AC20;
  color: white;
  border-radius: 5px;
}
.table_wrapper .entries-and-search .table-pagination .change-page, .table_wrapper .info-and-pagination .table-pagination .change-page {
  cursor: pointer;
}
.table_wrapper .entries-and-search .table-pagination .disabled, .table_wrapper .info-and-pagination .table-pagination .disabled {
  color: grey;
}
.table_wrapper .entries-and-search .table-pagination .disabled:hover, .table_wrapper .info-and-pagination .table-pagination .disabled:hover {
  text-decoration: none;
}
.table_wrapper table {
  display: block;
  max-width: 100%;
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
}
.table_wrapper table th {
  min-width: 98px;
  padding: 10px 0;
}
.table_wrapper table th .sort-symbol {
  color: #92AC20;
  cursor: pointer;
}
.table_wrapper table .row {
  height: 35px;
  text-align: start;
}
.table_wrapper table .row:nth-child(odd) {
  background-color: #f6f8eb;
}
.table_wrapper table .row:nth-child(even) {
  background-color: white;
}
.table_wrapper table .row td {
  padding: 0 5px;
  height: 50px;
  width: 98px;
}
.table_wrapper table .button-delete {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15px;
  width: 60px;
}
@media screen and (max-width: 385px) {
  .table_wrapper .entries-and-search, .table_wrapper .info-and-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 20px;
  }
}/*# sourceMappingURL=table.css.map */